$body-font-family: 'Nanum Myeongjo', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
